{{extend 'layout.html'}}

{{block head}}
{{end}}

<div class="main_content">

  <!-- Here goes your main HTML code. -->
  {{if auth.user is not None:}}
    {{if auth.user.email == "scholarship@admin.com":}}
    <h1>Welcome to the administrator page for scholarships. </h1>
    <h3>To see a list of the applicants, click on the button below.</h3>
    <div class="button_list">
      <div class="buttons">
        <a class="btn rounded" href="{{=URL('default', 'see_users')}}">
        View applicants
        </a>
      </div>
    </div>
    <h3>To establish a scholarship, click on the button below.</h3>
    <div class="button_list">
      <div class="buttons">
        <a class="btn rounded" href="{{=URL('default', 'add_scholarship')}}">
        Establish scholarship
        </a>
      </div>
    </div>


    {{else:}}
  <div class="add_btn">
    <a class="btn red rounded" href="{{=URL('default', 'add')}}"><i class="fa fa-plus"></i> Add your Information</a>
  </div>
  <h2> Available Scholarships<br>Need to fix this to show scholarships. </h2>
  {{for cl in user_infos:}}
    {{if cl.is_public is False:}}

      <div class="memo">
        <div class="memo_text">
          <div class="memo_title">Phone: {{=cl.phone}} </div>
          <div class="memo_content">GPA: {{=cl.gpa}}</div>
        </div>
        <div>
          <div class="button_list">
            <div class="buttons">
              <a class="btn rounded" href="{{=URL('default', 'edit', args=[cl.id])}}">
                <i class="fa fa-edit fa-lg"></i>
              </a>
              <!-- <a class="btn rounded red" href="{{=URL('default', 'delete', args=[cl.id], user_signature=True)}}">
                <i class="fa fa-trash fa-lg"></i>
              </a>
              <a class="btn rounded red" href="{{=URL('default', 'toggle_public', args=[cl.id], user_signature=True)}}">
                <i class="fa fa-user"></i>
              </a> -->

              </div>
          </div>
        </div>
      </div>
      {{pass}}
    {{pass}}

  {{pass}}

  {{elif auth.user is None:}}

   <h1 class="main_title">Welcome to Greek Orthodox Scholarships!</h1>

    <p class="explanation">Sign Up to see which scholarships we offer!</p>

    <div class="login_button">
        <a href="{{=URL('default', 'user')}}" class="btn">Login</a>
    </div>


  {{pass}}

</div>
