{{extend 'layout.html'}}

{{#block head}}
{{#end}}

<div class="user_space three wide column">
  <!-- Here goes your main HTML code. -->
  {{if auth.user is not None:}}
    {{if auth.user.email == "scholarship@admin.com":}}
    <h1>Welcome to the administrator page for scholarships. </h1>
    <h3>To see a list of the applicants, click on the button below.</h3>
    <div class="button_list">
      <div class="buttons">
        <a class="ui basic button" href="{{=URL('default', 'see_users')}}">
        View applicants
        </a>
      </div>
    </div>
    <h3>To establish a scholarship, click on the button below.</h3>
    <div class="button_list">
      <div class="buttons">
        <a class="ui basic button" href="{{=URL('default', 'add_scholarship')}}">
        Establish scholarship
        </a>
      </div>
    </div>
    <div class = "established-scholarhips">
    <h3>To view established scholarships, click on the button below.</h3>
    <div class="buttons">
      <a class="ui basic button" href="{{=URL('default', 'view_scholarships')}}">
      View scholarships
      </a>
    </div>
    </div>
    {{else:}}
  <div class="add_btn">
    <a class="ui basic button" href="{{=URL('default', 'add')}}"><i class="fa fa-plus"></i> Add your Information</a>
  </div>
  <h2> Available Scholarships<br></h2>
  <table class = "center" id="myTable2">
    <tr>
      <th onclick="sortTable(0)">Scholarship Name</th>
      <th>Description</th>
      <th>Contact Name</th>
      <th>Email</th>
      <th onclick="sortTable(0)">Amount</th>
    </tr>
  {{for sl in scholarships:}}
    <tr>
      <td>{{=sl.scholarship_name}}</td>
      <td>{{=sl.information}}</td>
      <td>{{=sl.contact_name}}</td>
      <td>{{=sl.contact_email}}</td>
      <td>{{=sl.scholarship_amount}}</td>
    </tr>
    {{pass}}
  </table>
  <script>
  function sortTable(n) {
    var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
    table = document.getElementById("myTable2");
    switching = true;
    // Set the sorting direction to ascending:
    dir = "asc";
    /* Make a loop that will continue until
    no switching has been done: */
    while (switching) {
      // Start by saying: no switching is done:
      switching = false;
      rows = table.getElementsByTagName("TR");
      /* Loop through all table rows (except the
      first, which contains table headers): */
      for (i = 1; i < (rows.length - 1); i++) {
        // Start by saying there should be no switching:
        shouldSwitch = false;
        /* Get the two elements you want to compare,
        one from current row and one from the next: */
        x = rows[i].getElementsByTagName("TD")[n];
        y = rows[i + 1].getElementsByTagName("TD")[n];
        /* Check if the two rows should switch place,
        based on the direction, asc or desc: */
        if (dir == "asc") {
          if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
            // If so, mark as a switch and break the loop:
            shouldSwitch = true;
            break;
          }
        } else if (dir == "desc") {
          if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
            // If so, mark as a switch and break the loop:
            shouldSwitch = true;
            break;
          }
        }
      }
      if (shouldSwitch) {
        /* If a switch has been marked, make the switch
        and mark that a switch has been done: */
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
        // Each time a switch is done, increase this count by 1:
        switchcount ++;
      } else {
        /* If no switching has been done AND the direction is "asc",
        set the direction to "desc" and run the while loop again. */
        if (switchcount == 0 && dir == "asc") {
          dir = "desc";
          switching = true;
        }
      }
    }
  }
  </script>
</div>
  {{pass}}

  {{elif auth.user is None:}}

   <h1 class="main_title">Welcome to Greek Orthodox Scholarships!</h1>

    <p class="explanation">Sign Up to see which scholarships we offer!</p>

    <div class="login_button">
        <a href="{{=URL('default', 'user')}}" class="ui basic button">Login</a>

    </div>
    <div class ="home-images" style="max-width:965px">
      <img class="mySlides" alt="Philanthropy" src="../static/images/Penelope.jpg" style="width:100%"/>
      <img class="mySlides" alt="Education" src="../static/images/Scholarship.jpg" style="width:100%"/>
      <img class="mySlides" alt="Literacy" src="../static/images/BookClub-1.jpg" style="width:100%"/>
   </div>
    <script>
      var myIndex = 0;
      carousel();
      function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
          x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) {myIndex = 1}
        x[myIndex-1].style.display = "block";
        setTimeout(carousel, 4000); // Change image every 2 seconds
      }
    </script>
  {{pass}}

</div>
