{{extend 'layout.html'}}
<head>
  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <meta name="apple-mobile-web-app-capable" content="yes" />

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  <link href="{{=URL('static','css/stupid.css')}}" rel="stylesheet" type="text/css"/>

  <link href="{{=URL('static','css/web2py.css')}}" rel="stylesheet" type="text/css"/>

</head>

<!-- {{#block head}} -->
<!-- {{#end}} -->

<i class="fa fa-edit fa-lg"></i>
<!-- {{#for user in users:}} -->
  <table class = "center">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>GPA</th>
      <th>Income</th>
      <th>Number of Family Members</th>
      <th>Race/Ethnicity</th>
    </tr>
      {{for user_i in user_info:}}
    <tr>

      <td>{{=user_i.first_name}}</td>
      <td>{{=user_i.last_name}}</td>
      <td>{{=user_i.user_email}}</td>
      <td>{{=user_i.gpa}}</td>
      <td>{{=user_i.income}}</td>
      <td>{{=user_i.family_members}}</td>
      <td>{{=user_i.race}}</td>
    </tr>
    {{pass}}
  </table>
