<i class="fa fa-edit fa-lg"></i>
<!-- {{#for user in users:}} -->
  <table>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>GPA</th>
      <th>Income</th>
      <th>Number of Family Members</th>
      <th>Race/Ethnicity</th>
    </tr>
    <!-- {{#for user in users:}}
    <tr>
      <td>{{#=user.first_name}}</td>
      <td>{{#=user.last_name}}</td>
      <td>{{#=user.email}}</td>
      <td>{{#=user2.gpa}}</td>
    </tr>
    {{#pass}} -->
    {{for user_i in user_info:}}
    <tr>

      <td>{{=user_i.first_name}}</td>
      <td>{{=user_i.last_name}}</td>
      <td>{{=user_i.user_email}}</td>
      <td>{{=user_i.gpa}}</td>
      <td>{{=user_i.income}}</td>
      <td>{{=user_i.family_members}}</td>
      <td>{{=user_i.race}}</td>
    </tr>



    {{pass}}


  </table>
